/* -------------------- BASIC ELEMENTS -------------------- */

* {
     margin: 0;
     padding: 0;
}

body {
     width: 100%;
     text-align: center;
}

footer {
     width: 100%;
}

/* -------------------- CLASSES & OTHER -------------------- */

.mobile-nav-toggle {
     display: none;
}

.biography {
     background: #f0f0f0;
     border-radius: 1em;
     box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

#biography-image {
     border: 10px solid white;
     width: 60%;
     height: 100%;
     margin: auto;
     margin-bottom: 2em;
     box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

figure {
     float: left;
}

figcaption {
     margin-bottom: 2em;
}

.description {
     font-size: 24px;
     text-align: justify;
     padding: 0 1em;
}